@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}   

.navbar {
    position: fixed;
    top: 0;
    padding: 20px 250px;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    max-width: 100%;

}

.navbar li {
    margin: 0 15px;
}

.navbar a{
    text-decoration: none;
    color: #000;
    padding: 15px;
    display: block;
}

.logo {
    font-size: 2em;
    color: #ff2020;
    user-select: none;
}

.introducao {
    text-align: center;
    margin-bottom: 0px;
    margin: 0px;
    padding: 200px;
    position: relative;

}

.introducao_blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-image: url('img/paisagem.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(1px);

    z-index: -1;
}

.backdrop_blur {
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
}
