@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    margin: 0;
    height: 100%;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Oswald', sans-serif;
}

footer {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    padding: 1em 10px;

}

 .navbar {

    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    box-sizing: border-box;
    padding: 16px; 
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

} 

.logo {  
    padding-right: 8px;
    font-size: 0.80em;
    color: #ff2020;
    user-select: none;
    text-decoration: none;

}

.logo a {
    color: #ff2020;
    text-decoration: none;
}

.navbar_direita ul {
    list-style-type: none;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar_direita li {
    margin: 20px;
}

.navbar_direita a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: color 200ms;
    
}

.navbar_direita a:hover {
    scale: 110%;
    transition-duration: 200ms;
    color: #ff2020;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
    background-color: rgba(128, 128, 128, 0.7);
    border-radius: 5px;
    padding: 10px;
  }
  
  .menu-toggle span {
    display: block;
    background-color: #ffffff;
    height: 3px;
    width: 30px;
    margin: 5px auto;
  }

@media (max-width: 768px) {
    .logo {
        font-size: 2em;
    }
    .menu-toggle {
        display: block;
        
    }

  .navbar_direita {
    display: none; 
    flex-direction: column; 
    width: 250px; 
    position: absolute; 
    top: 100px; 
    right: -250px;
    padding: 3vh 0; 
    transition: right 0.3s ease;
    background-color: rgba(128, 128, 128, 0.9);
    border-radius: 5px;
    width: 25%;

  }

  .navbar_direita.active {
    display: flex; 
    right: 0;
}

.navbar_direita ul {
    flex-direction: column;
    margin: 0;
    align-items: start;
    border-radius: 5px;
}

.navbar_direita li {
    margin: 0; 
    padding-right: 2vh;
    text-align: right; 
}

.navbar_direita a {
    padding: 0px 0px; 
    text-align: start; 
    display: block;
    margin-left: 0;
    padding-top: 1vh;
}

.introducao {
    padding: 30vh;
    font-size: 3vw;
 }
}

.introducao {
    text-align: center;
    margin: 0px;
    padding: 25vh 10vw;
    position: relative;
    color: #fff;
    font-size: 3vw;

}

.introducao_blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 60%;
    background-image: url('img/paisagem4.jpg');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    background-repeat: no-repeat;
    z-index: -1;

    box-shadow: 0 0 30px#808080;
}

.backdrop_blur {
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(2px); 
    position: fixed;
    top: 0;
    z-index: -1;
    overflow: hidden;
}

.fotominha {
  border-radius: 10px 10px 0 0;
}

.card_sobremim {
    margin: 0 auto;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(116, 116, 116);
    width: calc(30% - 20px);
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: url(img/fundocard.jpg);
    background-size: cover;

    position: relative;
}

.card_sobremim h3 {
    margin-top: 5vh;
    font-size: 3vw;
}

.card_sobremim p {
    margin-top: 0;
    padding: 2vh;
    font-size: 2vw;
}

.card_sobremim a {
    color: #ff2020;
    text-decoration: none;
    padding-bottom: 3vh;
    font-size: 2vw;
}

@media (max-width: 768px) {
    .card_sobremim {
        margin-top: 20vw;
        width: calc(80% - 20px); 
    }

    .card_sobremim h3 {
        margin-top: 5vh;
        font-size: 5vw;
    }
    
    .card_sobremim p {
        margin-top: 0;
        padding: 2vh;
        font-size: 4vw;
    }
    
    .card_sobremim a {
        color: #ff2020;
        text-decoration: none;
        padding-bottom: 3vh;
        font-size: 4vw;
    }
}

.informacoes {
    padding-top: 20vh;
    padding-bottom: 20vh;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.cilindro {
    margin: 10px 5px;
    padding: 10px;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(116, 116, 116);
    width: calc(30% - 20px);
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    background-image: url(img/fundocard.jpg);
    background-size: cover;
}

.cilindro:nth-child(4) {
    left: 110px;
}

.cilindro:nth-child(5) {
    right: 110px;
}

.cilindro p {
    width: 100%;
    
}

.cilindro a {
    color: #ff2020;
    text-decoration: none;
}

.conjunto_c {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



@media (max-width: 768px) {
    .cilindro {
        width: calc(100% - 20px); 
    }
    .cilindro:nth-child(4) {
        left: 0px;
    }
    
    .cilindro:nth-child(5) {
        right: 0px;
    }
}